html {
  scroll-behavior: smooth;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease;
}

.dark-mode {
  background-color: #0d0d0d;
  color: #ffffff;
  transition: all 0.3s ease;
}

/* Optional: Apply to body if needed */
body.light-mode {
  background-color: #fff;
  color: #000;
}
body.dark-mode {
  background-color: #0d0d0d;
  color: #fff;
}
