.certificate-wrapper {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(circle at 20% 40%, rgba(0, 255, 0, 0.15), transparent 40%),
              radial-gradient(circle at 80% 60%, rgba(255, 255, 0, 0.15), transparent 50%);
  overflow: hidden;
  z-index: 2;
  padding: 1rem;
}

.certificate-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 2rem;
  color: #fff;
}

.infinite-scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 1rem 0;
}

.infinite-scroll-track {
  display: flex;
  width: fit-content;
  animation: scrollInfinite 11s linear infinite;
  gap: 1.5rem;
}

.infinite-scroll-wrapper:hover .infinite-scroll-track {
  animation-play-state: paused;
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.certificate-card {
  flex: 0 0 calc(16.16% - 2rem); /* Default for desktop: approx 3 cards */
  background: #111;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 255, 100, 0.2);
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.certificate-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.certificate-card:hover {
  transform: scale(1.05);
}

/* Medium screens (tablet) */
@media (max-width: 768px) {
  .certificate-card {
    flex: 0 0 45%;  /* Smaller width on tablets */
    height: 40vh;
  }

  .certificate-title {
    font-size: 1.7rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .infinite-scroll-track {
    gap: 1rem;
  }
}

/* Small screens (mobile) */
@media (max-width: 480px) {
  .certificate-card {
    flex: 0 0 60%;  /* Slimmer card width on mobile */
    height: 35vh;
  }

  .certificate-title {
    font-size: 1.4rem;
  }
}
